body {
  margin: 0px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
  font-size: 24px;
  background-color: rgb(78, 2, 255);
}
.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-1 img {
  width: 150px;
  color: white;
  margin-left: 110px;
}
.section-1 a {
  margin-left: auto;
}
.section-1 input[type="button"] {
  margin-left: 30px;
}
.section-1 {
display:flex;
flex-direction: row;
margin-right: 300px;
padding: 20px;
}
input[type='button'] {
  display: flex;
  justify-self: right;
  padding: 13px 25px;
  font-weight: bold;
  border: 10px;
  border-radius: 20px;
  background-color: orange;
  color: white;
}
a:link {
  text-decoration: none; 
}
a:hover {
  color: rgb(165, 163, 163);
}
a:visited {
  color: white;
}
.headline-1 {
  font-size: 42px;
}
.headline-2 {
  font-size: 25px;
  font-weight: bold;
}
.section-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.782);
  margin-top: 400px; 
} 
.section-2 input[type='button'] {
    padding: 30px 75px;
    font-weight: bold;
    border: 50px;
    border-radius: 50px;
    font-size: 18px;
  }
.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.854);
    font-weight: bold; 
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .section-4 {
    display: flex;
    justify-content:space-evenly;
  }  
  .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
      gap: 100px; /* Adjust the gap between items */
      margin-right: 275px;
      margin-left: 275px;
      color: white;
  }
    
  

